<div class="modal image-modal transparent" ng-click="closeModal()">
  <ion-pane class="transparent">
    <img src="img/22.png" alt="Camera" style="float:center;height:320px;" >
  </ion-pane>
  <div class='column'>
    <img class='clue-image' ng-src={{selectedname.image}}>
    <img class='clue-image1' ng-src={{selectedname.map}}>
  </div>
  <div id="circle">
    <span class="innerTEXT"> {{selectedname.clue1}}</span>
  </div>
    <div id="button">
    <input ng-click="takePhoto()" type="image" src="img/button.png" alt="Submit" width="75" height="23" >
  </div>
</div>