<ion-popover-view class="clue-popover">
  <ion-content>
    <div>
      <div class="clue-pictures">
        <img src="./img/London-Eye.jpg" class="clue-image">
        <p><button class="clue-button">Take Picture</button></p>
      </div>

      <ul class="clue-list">
        <li class="clue">
          <h4 class="clue-title">Clue 1</h4>
          <p>I'm big and I'm round and I go round and round...</p>
        </li>
        <li class="clue">
          <h4 class="clue-title">Clue 2</h4>
          <p>At the top of me, most of London you can see...</p>
        </li>
        <li class="clue">
          <h4 class="clue-title">Clue 3</h4>
          <p>It might not seem real, but I look like a wheel...</p>
        </li>
      </ul>


    </div>
  </ion-content>
</ion-popover-view>
