<ion-view view-title="Photo Album">
 <ion-content class="padding gallery-container">
   <ion-scroll direction="x" class="image-tile-wrapper">
     <ul class="gallery-frame" ng-repeat="image in imageService.placeheldgallery">
       <li class="thumbnail-container">
         <img ng-src="{{image.url}}" class="gallery-thumbnail" ng-click="openModal(imageService.placeheldgallery.indexOf(image))">
       </li>
       <span style="color:#ffffff; font-weight:bold;">{{monumentName[imageService.placeheldgallery.indexOf(image)].name}}</span>
     </ul>
   </ion-scroll>
 </ion-content>
</ion-view>