<ion-view view-title="Photo Album">
  <ion-content style="background-image: url('https://pixabay.com/static/uploads/photo/2013/07/12/18/40/aubergine-153671_640.png')">
    <ion-list>
      <div class="gallery-frame" ng-repeat="image in imageService.placeheldgallery">
        <div class="thumbnail-container">
          <img ng-src="{{image.url}}" class="gallery-thumbnail">
        </div>
        <span style="color:#ffffff; font-weight:bold;">Name of Monument</span>
      </div>
    </ion-list>
  </ion-content>
</ion-view>