<ion-view name="home" id="home" view-title="iSpy London" class='title'>
  <ion-content class="padding london-images" class="has-footer">
    <ion-scroll direction="x" class="image-tile-wrapper">
      <img src="img/london_01.gif" alt="London" class="img-tile" ng-click="imageService.addImage(0)">
      <img src="img/london_02.gif" alt="London" class="img-tile" ng-click="imageService.addImage(1)">
      <img src="img/london_03.gif" alt="London" class="img-tile" ng-click="imageService.addImage(2)">
      <img src="img/london_04.gif" alt="London" class="img-tile" ng-click="imageService.addImage(3)">
      <img src="img/london_05.gif" alt="London" class="img-tile" ng-click="imageService.addImage(4)">
      <img src="img/london_06.gif" alt="London" class="img-tile" ng-click="imageService.addImage(5)">
      <img src="img/london_07.gif" alt="London" class="img-tile" ng-click="imageService.addImage(6)">
    </ion-scroll>

  </ion-content>
      <div height="50px">
      &nbsp;
    </div>
</ion-view>
