<ion-view name="home" id="home" view-title="iSpy London" class='title'>
  <ion-content class="padding london-images" class="has-footer">
    <ion-scroll direction="x" class="image-tile-wrapper">
      <a ng-click="openModal('shard')"><img src="img/london_01.gif" alt="London" class="img-tile"></a>
      <a ng-click="openModal('taxi')"><img src="img/london_02.gif" alt="London" class="img-tile"></a>
      <a ng-click="openModal('bigben')"><img src="img/london_03.gif" alt="London" class="img-tile"></a>
      <a ng-click="openModal('towerbridge')"><img src="img/london_04.gif" alt="London" class="img-tile"></a>
      <a ng-click="openModal('bus')"><img src="img/london_05.gif" alt="London" class="img-tile"></a>
      <a ng-click="openModal('londoneye')"><img src="img/london_06.gif" alt="London" class="img-tile"></a>
      <a ng-click="openModal('gherkin')"><img src="img/london_07.gif" alt="London" class="img-tile"></a>
    </ion-scroll>

    <p>
      <button ng-click="popover.show($event)">Open Popover</button>
    </p>

  </ion-content>
      <div height="50px">
      &nbsp;
    </div>
</ion-view>
