<ion-view name="home" id="home" view-title="iSpy London" class='title'>
  <ion-content class="padding london-images">
    <ion-scroll direction="x" class="image-tile-wrapper">
      <img src="img/view1/shard.png" ng-click="openModal(0)" alt="London" class="img-tile" style="opacity: {{checkOpacity(0)}}">
      <img src="img/view1/tree1.png" class="img-tile">
      <img src="img/view1/taxi.png" ng-click="openModal(1)" alt="London" class="img-tile" style="opacity: {{checkOpacity(1)}}">
      <img src="img/view1/tree2.png" class="img-tile">
      <img src="img/view1/big_ben.png" ng-click="openModal(2)" alt="London" class="img-tile" style="opacity: {{checkOpacity(2)}}">
      <img src="img/view1/tree_guard.png" class="img-tile">
      <img src="img/view1/tower_bridge.png" ng-click="openModal(3)" alt="London" class="img-tile" style="opacity: {{checkOpacity(3)}}">
      <img src="img/view1/tree3.png" class="img-tile">
      <img src="img/view1/bus.png" ng-click="openModal(4)" alt="London" class="img-tile" style="opacity: {{checkOpacity(4)}}">
      <img src="img/view1/london_eye.png" ng-click="openModal(5)" alt="London" class="img-tile" style="opacity: {{checkOpacity(5)}}">
      <img src="img/view1/tree4.png" class="img-tile">
      <img src="img/view1/gherkin.png" ng-click="openModal(6)" alt="London" class="img-tile" style="opacity: {{checkOpacity(6)}}">
      <img src="img/view1/postbox.png" class="img-tile">
    </ion-scroll>
  </ion-content>
  <div class="floater" background-color="white">
    {{ imageService.totalScore }} <img src="img/gold_star.png" class="gold-star">
  </div>
</ion-view>
