.london-images {
  font-size: 0;
  padding: 0;
}

.image-tile-wrapper {
  height:100%;
  overflow: visible;
  white-space: nowrap;
}

.img-tile {
  display: inline;
  height: 300px;
}


/* ----------- iPhone 4 and 4S ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2) {
  .img-tile {
    display: inline;
    height: 310px;
  }
}
/* ----------- iPhone 5 and 5S ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2) {
  .img-tile {
    display: inline;
    height: 310px;
  }
}

/* ----------- iPhone 6 ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2) { 
  .img-tile {
    display: inline;
    height: 365px;
  }
}


/* ----------- iPhone 6+ ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 414px) 
  and (max-device-width: 736px) 
  and (-webkit-min-device-pixel-ratio: 3) { 
  .img-tile {
    display: inline;
    height: 405px;
  }
}