.london-images {
 font-size: 0;
 padding: 0;
 background-image: url('../img/view1/background_skyline.gif');
 background-repeat: repeat-x;
}

.image-tile-wrapper {
 height:100%;
 overflow: visible;
 white-space: nowrap;
}

.img-tile {
 display: inline;
 height: 300px;
}

.gallery-container {
  background-image: url('../img/view1/background_skyline.gif');
  background-repeat: no-repeat;
}

.gallery-frame {
 display: inline-block;
 background-color:#ffeecc;
 height: 250px;
 width: 250px;
 background-image: url('../img/yellow_frame.gif');
 background-size:100%;
 padding:25px;
 color:#ffffff ;
 margin:0 25px;
 text-align: center;
}

.thumbnail-container {
 overflow: hidden!important;
 height: 200px;
 width: 200px;
}

.gallery-thumbnail {
 max-height: 290px;
 max-width: 290px;
}

.gallery-full-image {
  max-width: 100%;
  max-height: 100%;
  text-align:center;
  overflow:auto;
  top:0;
  bottom:0;
  left:0;
  right:0;
  margin:auto;
}

.gallery-modal-container {
  text-align: center;
}

.close-image {
  position:fixed;
  font-size: 50px;
  top:15px;
  left:15px;
}

.monument-name {
  color:#462801;
  font-weight:bold;
}

/* ----------- iPhone 4 and 4S ----------- */

/* Portrait and Landscape */
@media only screen
 and (min-device-width: 320px)
 and (max-device-width: 480px)
 and (-webkit-min-device-pixel-ratio: 2) {
 .img-tile {
   display: inline;
   height: 310px;
 }
}
/* ----------- iPhone 5 and 5S ----------- */

/* Portrait and Landscape */
@media only screen
 and (min-device-width: 320px)
 and (max-device-width: 568px)
 and (-webkit-min-device-pixel-ratio: 2) {
 .img-tile {
   display: inline;
   height: 310px;
 }
}

/* ----------- iPhone 6 ----------- */

/* Portrait and Landscape */
@media only screen
 and (min-device-width: 375px)
 and (max-device-width: 667px)
 and (-webkit-min-device-pixel-ratio: 2) {
 .img-tile {
   display: inline;
   height: 365px;
 }
}


/* ----------- iPhone 6+ ----------- */

/* Portrait and Landscape */
@media only screen
 and (min-device-width: 414px)
 and (max-device-width: 736px)
 and (-webkit-min-device-pixel-ratio: 3) {
 .img-tile {
   display: inline;
   height: 405px;
 }
}

/* Empty. Add your own CSS if you like */

.clue-popover {
 width: 90%;
 border: grey 0.1em solid;
 border-radius: 0.5em;
}

.clue-pictures {
 float: right;
 width: 35%;
 text-align: center;
 margin: 1em;
}

.clue-image {
height: 145px;
padding-left: 30px;
padding-top: 20px;
display: block;
}

.clue-image1 {
height: 123px;
padding-left: 30px;
padding-top: 0px;
display: block;
}

.clue-list{
 width: 65%
}

.clue {
 border: grey 0.1em solid;
 border-radius: 0.5em;
 margin: 1em;
 text-align: center;
}

.modal-info {
 text-align: center;
}

.transparent {
background: transparent !important;
}

.image-modal {
width: 100% !important;
height: 100%;
top: 0 !important;
left: 0 !important;
}

#circle {
 position: absolute;
 background: white;
   top: 80px;
   left: 285px;
   width: 200px;
   height: 200px;
   border-radius: 50%;
   color:black;

}
.innerTEXT{
   position:absolute;
   font-family: fantasy;
   top:35%;
   left:5%;
 width: 195px;
}
#button{
   position: absolute;
     top: 40px;
     left: 455px;
     z-index: 1;
}

img.gold-star {
  height: 0.9em;
}

.floater {
  position: absolute;;
  top: 20px;
  right: 5px;
  font-size:30px;
}

.scroll {
  height: 100%;
}

#map {
  width: 100%;
  height: 100%;
}
